body {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.limitar-secao {
  max-width: 1024px;
  margin: 0 auto;
}

h2 {
  text-transform: uppercase;
  font-size: 32px;
  margin: 0;
}